.container {
    @apply flex items-center flex-none flex-row flex-nowrap gap-2 min-h-min justify-center p-[80px] relative w-full;

    .inner-container {
        @apply flex flex-col items-center relative justify-center gap-24 h-auto opacity-100 bg-black flex-nowrap rounded-xl p-8 sm:p-12 md:p-16 lg:p-20 w-full;

        padding: 120px 80px 64px;

        .heading-group {
            @apply flex items-center flex-none flex-col flex-nowrap gap-[40px] min-h-min justify-center max-w-[700px] overflow-visible p-0 relative w-full;

            .title-group {
                @apply flex items-center flex-none flex-row flex-nowrap gap-4 min-h-min justify-center p-0 relative w-full;



                    .title {
                        @apply text-white font-semibold text-center;
                        line-height: 92px;
                        letter-spacing: -3px;
                        font-size: 84px;

                    }

            }

            .button-text {
                @apply bg-white border border-solid border-gray-800  flex items-center rounded-full px-6 py-3 text-black mt-4;
            }
        }

        .navigation-item {
            @apply text-sm text-white;
        }

        .social-media-icons {
            @apply h-6 w-6 fill-current text-gray-500 hover:text-black dark:text-gray-400 dark:hover:text-white;
        }
    }
}
